body {
  background-color: #192a50;
  font-family: "Karla", sans-serif;
  position: relative;
}

.container {
  text-align: center;
  display: block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.63);
  width: 800px;
  border-radius: 30px;
  border: solid 0.5px white;
  padding: 15px;
}
.celcius {
  color: #192a50;
  text-decoration: none;
}
.temp {
  color: #6e8abc;
  font-weight: bolder;
  font-size: 50px;
  padding: 10px;
}
.units {
  font-size: 17px;
  position: relative;
  top: -25px;
}
.place {
  color: #113076;
  font-size: 30px;
  font-weight: bold;
}

ul {
  margin-top: 20px;
  list-style: none;
  line-height: 28px;
  text-transform: capitalize;
  font-size: 17px;
}

.icon {
  font-size: 60px;
  margin-right: 160px;
  margin: 0px auto;
  display: inline;
}

.temp:hover {
  font-size: 60px;
}
.footer {
  text-align: center;
  font-size: 12px;
  margin: 0px;
}
.active {
  text-decoration: none;
  color: #6e8abc;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: #6e8abc;
}
.windSpeed {
  text-transform: lowercase;
}
.weather-forecast {
  margin: 20px;
  line-height: 30px;
}
.col-2 {
  margin-top: 0px;
  border: white solid 0.75px;
  border-radius: 17px;
  padding: 30px;
  padding-bottom: 40px;
}
.forecast-date {
  text-decoration: underline;
}
.forecast-min {
  color: #808285;
}
